@import 'https://fonts.googleapis.com/css?family=Roboto:500,700|Source+Sans+Pro&display=swap';
* {
  box-sizing: border-box;
}
html,
body,
.main-container {
  width: 100%;
  min-height: 100vh;
  min-width: 1000px;
  background-color: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-container {
  border-bottom: 1px solid #efefef;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.header-container__inner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header-container_size_m {
  padding-top: 35px;
  padding-bottom: 35px;
}
.logo {
  font-size: 0;
  line-height: 0;
}
.logo img {
  width: 100%;
}
@media (max-width: 1200px) {
  .logo {
    max-width: 120px;
  }
}
.menu_top {
  margin-left: 80px;
}
@media (max-width: 1200px) {
  .menu_top {
    margin-left: 40px;
  }
}
.menu ul {
  list-style-type: none;
  display: flex;
}
.menu ul li {
  display: inline-block;
  margin-right: 25px;
}
@media (max-width: 1200px) {
  .menu ul li {
    margin-right: 15px;
  }
}
.menu ul li:last-child {
  margin-right: 0;
}
.menu ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.menu ul li a:after {
  content: '';
  position: absolute;
  background-color: #f2264d;
  height: 5px;
  left: 50%;
  right: 50%;
  opacity: 0;
  bottom: -44px;
  transition: all 0.3s ease-in-out;
}
.menu ul li a:hover {
  color: #f2264d;
}
.menu ul li a:active {
  color: #f2264d;
}
.menu ul li a:active:after {
  left: 0;
  right: 0;
  opacity: 1;
}
.profile__image {
  order: 1;
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;
  box-shadow: 0 2px 10px rgba(6,1,16,0.15);
}
.profile__name {
  order: 2;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.2s ease-in-out;
}
.profile__name:hover {
  color: #f2264d;
}
.profile__name:active {
  color: #d7153c;
}
.profile__exit {
  order: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.profile__exit svg {
  transform: translateX(-1px);
}
.profile__exit:hover {
  background-color: #eee;
}
.profile__exit:active {
  background-color: #f2264d;
}
.profile__exit_path {
  transition: fill 0.2s ease-in-out;
}
.profile__exit:hover .profile__exit_path {
  fill: #f2264d;
}
.profile__exit:active .profile__exit_path {
  fill: #fff;
}
.profile_header_right {
  margin-left: auto;
  margin-right: 0;
}
.profile__inner {
  display: flex;
  align-items: center;
}
.profile__inner_header:after {
  content: '';
  order: 3;
  width: 1px;
  height: 30px;
  margin: 0 15px;
  background-color: #e4e4e4;
}
.profile__inner_card {
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  width: 280px;
  text-decoration: none;
  flex-direction: column;
  padding: 30px;
  outline: 1px solid #e4e4e4;
  box-shadow: 0 10px 25px transparent;
  transition: outline-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.profile__inner_card .profile__arrow {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -23px;
  width: 23px;
  height: 16px;
  opacity: 0;
  background: url("../img/profile-arrow.svg") no-repeat center center;
  background-size: contain;
  transform: rotateY(180deg);
  will-change: transform;
  transition: right 0.3s ease-in-out, transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in;
}
.profile__inner_card > * {
  order: 0;
}
.profile:hover .profile__inner_card {
  outline-width: 2px;
  outline-color: #f2264d;
  box-shadow: 0 10px 25px rgba(5,2,13,0.1);
}
.profile:active .profile__inner_card {
  box-shadow: none;
}
.profile:hover .profile__inner_card .profile__arrow {
  right: 30px;
  transform: rotateY(0deg);
  opacity: 1;
}
.profile__inner_card .profile__image {
  width: 80px;
  height: 80px;
}
.profile__inner_card .profile__image img {
  width: 108px;
}
.profile__inner_card .profile__image_profile2 img {
  width: 158px;
  margin-left: -78px;
}
.profile__inner_card .profile__image_profile3 img {
  width: 90px;
  margin-left: -5px;
  margin-top: -8px;
}
.profile__inner_card .profile__name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  width: 190px;
}
.profile__inner_card .profile__position {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ababab;
  margin-top: 5px;
}
.profile__inner_card .profile_department {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-top: 15px;
}
.profile__inner_card .profile__birthday {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin-top: 20px;
}
.banner {
  font-size: 0;
  line-height: 0;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.banner__inner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner__inner:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
  z-index: 0;
  background-image: url("../img/dotted-image-form.svg");
  background-position: center;
  background-size: 100px;
  pointer-events: none;
}
.banner__inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100px;
  height: 300px;
  width: 100px;
  background-image: url("../img/dotted-image-form.svg");
  background-position: center;
  background-size: 100px;
  pointer-events: none;
}
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 530px;
  padding-top: 78px;
  z-index: 2;
}
.banner__content:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: #f2264d;
  left: -170px;
  top: 116px;
}
.banner__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 62px;
  color: #333;
}
.banner__desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  overflow: hidden;
  max-height: 66px;
  margin-top: 15px;
}
.banner__image {
  padding-left: 100px;
  background-color: #fafafa;
  position: relative;
}
.banner__image:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -183px;
  height: 100px;
  width: 200px;
  background-image: url("../img/dotted-image-form.svg");
  background-position: center;
  background-size: 100px;
  pointer-events: none;
  z-index: 0;
}
.banner__image_right {
  margin-right: 0;
  margin-left: auto;
}
.banner__image:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #f2264d;
  pointer-events: none;
  z-index: 1;
}
.feedback-block {
  background-color: #f2264d;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
}
.feedback-block:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-color: #fafafa;
  z-index: 0;
}
.feedback-block__inner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 2;
}
.feedback-block__inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -300px;
  width: 300px;
  height: 100px;
  background-image: url("../img/dotted-image-form.svg");
  background-position: center;
  background-size: 100px;
  pointer-events: none;
  z-index: 3;
}
.feedback-block__description {
  padding-top: 50px;
  padding-right: 69px;
  padding-bottom: 80px;
  width: 380px;
  position: relative;
  overflow: hidden;
}
.feedback-block__description:before {
  content: '?';
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  line-height: 290px;
  color: #e22c47;
  bottom: 0;
  right: -75px;
}
.feedback-block__description-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 66px;
  color: #fff;
}
.feedback-block__description-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.feedback-block__form {
  background-color: #fafafa;
  padding-top: 55px;
  padding-left: 69px;
  padding-bottom: 80px;
  flex-grow: 1;
}
.feedback-form__row {
  display: flex;
  margin-top: 28px;
}
.feedback-form__row:first-child {
  margin-top: 0;
}
.feedback-form__row_col-3 {
  justify-content: space-between;
}
@media (max-width: 1240px) {
  .feedback-form__row_col-3 {
    flex-wrap: wrap;
  }
}
.feedback-form__row_col-3 > .feedback-form__input-group {
  width: 33%;
  margin-right: 20px;
}
@media (max-width: 1240px) {
  .feedback-form__row_col-3 > .feedback-form__input-group:nth-child(2) {
    margin-right: 0;
  }
}
.feedback-form__row_col-3 > .feedback-form__input-group:last-child {
  margin-right: 0;
}
.feedback-form__row_submit {
  margin-top: 40px;
}
.feedback-form__input-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.feedback-form__input-group .tooltip-field {
  padding-left: 20px;
  margin-top: 5px;
}
.feedback-form__input-group.is-active .feedback-form__input,
.feedback-form__input-group.is-active .feedback-form__select,
.feedback-form__input-group.is-active .feedback-form__textarea,
.feedback-form__input-group.is-active .feedback-form__dropdown-text {
  background-color: #fff;
  outline-color: #666;
  color: #333;
}
.feedback-form__input-group.is-error .tooltip-field {
  display: block;
}
.feedback-form__input-group.is-error .feedback-form__input,
.feedback-form__input-group.is-error .feedback-form__select,
.feedback-form__input-group.is-error .feedback-form__textarea,
.feedback-form__input-group.is-error .feedback-form__dropdown-text {
  color: #f2264d;
  outline-color: #f2264d !important;
  background-color: #fff;
}
.feedback-form__input-group.is-error .feedback-form__input::-moz-placeholder,
.feedback-form__input-group.is-error .feedback-form__select::-moz-placeholder,
.feedback-form__input-group.is-error .feedback-form__textarea::-moz-placeholder,
.feedback-form__input-group.is-error .feedback-form__dropdown-text::-moz-placeholder {
  color: #f2264d;
}
.feedback-form__input-group.is-error .feedback-form__input::-webkit-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__select::-webkit-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__textarea::-webkit-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__dropdown-text::-webkit-input-placeholder {
  color: #f2264d;
}
.feedback-form__input-group.is-error .feedback-form__input:-ms-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__select:-ms-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__textarea:-ms-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__dropdown-text:-ms-input-placeholder {
  color: #f2264d;
}
.feedback-form__input-group.is-error .feedback-form__input::-ms-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__select::-ms-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__textarea::-ms-input-placeholder,
.feedback-form__input-group.is-error .feedback-form__dropdown-text::-ms-input-placeholder {
  color: #f2264d;
}
.feedback-form__input-group.is-error .feedback-form__input::placeholder,
.feedback-form__input-group.is-error .feedback-form__select::placeholder,
.feedback-form__input-group.is-error .feedback-form__textarea::placeholder,
.feedback-form__input-group.is-error .feedback-form__dropdown-text::placeholder {
  color: #f2264d;
}
.feedback-form__label {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  padding-left: 20px;
  margin-bottom: 10px;
}
.feedback-form__input,
.feedback-form__select,
.feedback-form__textarea,
.feedback-form__dropdown-text {
  display: block;
  width: 100%;
  border: 0;
  padding: 12px 20px;
  outline: 1px solid #c9c8cc;
  outline-offset: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.feedback-form__input::-moz-placeholder,
.feedback-form__select::-moz-placeholder,
.feedback-form__textarea::-moz-placeholder,
.feedback-form__dropdown-text::-moz-placeholder {
  color: #666;
}
.feedback-form__input::-webkit-input-placeholder,
.feedback-form__select::-webkit-input-placeholder,
.feedback-form__textarea::-webkit-input-placeholder,
.feedback-form__dropdown-text::-webkit-input-placeholder {
  color: #666;
}
.feedback-form__input:-ms-input-placeholder,
.feedback-form__select:-ms-input-placeholder,
.feedback-form__textarea:-ms-input-placeholder,
.feedback-form__dropdown-text:-ms-input-placeholder {
  color: #666;
}
.feedback-form__input::-ms-input-placeholder,
.feedback-form__select::-ms-input-placeholder,
.feedback-form__textarea::-ms-input-placeholder,
.feedback-form__dropdown-text::-ms-input-placeholder {
  color: #666;
}
.feedback-form__input::placeholder,
.feedback-form__select::placeholder,
.feedback-form__textarea::placeholder,
.feedback-form__dropdown-text::placeholder {
  color: #666;
}
.feedback-form__input:valid,
.feedback-form__select:valid,
.feedback-form__textarea:valid,
.feedback-form__dropdown-text:valid {
  background-color: #fff;
  outline-color: #666;
}
.feedback-form__input_hidden,
.feedback-form__select_hidden,
.feedback-form__textarea_hidden,
.feedback-form__dropdown-text_hidden {
  display: none;
}
.feedback-form__input:hover,
.feedback-form__select:hover,
.feedback-form__textarea:hover,
.feedback-form__dropdown-text:hover,
.feedback-form__input:focus,
.feedback-form__select:focus,
.feedback-form__textarea:focus,
.feedback-form__dropdown-text:focus {
  background-color: #fff;
  outline-color: #666;
}
.feedback-form__input:hover::-moz-placeholder,
.feedback-form__select:hover::-moz-placeholder,
.feedback-form__textarea:hover::-moz-placeholder,
.feedback-form__dropdown-text:hover::-moz-placeholder,
.feedback-form__input:focus::-moz-placeholder,
.feedback-form__select:focus::-moz-placeholder,
.feedback-form__textarea:focus::-moz-placeholder,
.feedback-form__dropdown-text:focus::-moz-placeholder {
  color: #333;
}
.feedback-form__input:hover::-webkit-input-placeholder,
.feedback-form__select:hover::-webkit-input-placeholder,
.feedback-form__textarea:hover::-webkit-input-placeholder,
.feedback-form__dropdown-text:hover::-webkit-input-placeholder,
.feedback-form__input:focus::-webkit-input-placeholder,
.feedback-form__select:focus::-webkit-input-placeholder,
.feedback-form__textarea:focus::-webkit-input-placeholder,
.feedback-form__dropdown-text:focus::-webkit-input-placeholder {
  color: #333;
}
.feedback-form__input:hover:-ms-input-placeholder,
.feedback-form__select:hover:-ms-input-placeholder,
.feedback-form__textarea:hover:-ms-input-placeholder,
.feedback-form__dropdown-text:hover:-ms-input-placeholder,
.feedback-form__input:focus:-ms-input-placeholder,
.feedback-form__select:focus:-ms-input-placeholder,
.feedback-form__textarea:focus:-ms-input-placeholder,
.feedback-form__dropdown-text:focus:-ms-input-placeholder {
  color: #333;
}
.feedback-form__input:hover::-ms-input-placeholder,
.feedback-form__select:hover::-ms-input-placeholder,
.feedback-form__textarea:hover::-ms-input-placeholder,
.feedback-form__dropdown-text:hover::-ms-input-placeholder,
.feedback-form__input:focus::-ms-input-placeholder,
.feedback-form__select:focus::-ms-input-placeholder,
.feedback-form__textarea:focus::-ms-input-placeholder,
.feedback-form__dropdown-text:focus::-ms-input-placeholder {
  color: #333;
}
.feedback-form__input:hover::placeholder,
.feedback-form__select:hover::placeholder,
.feedback-form__textarea:hover::placeholder,
.feedback-form__dropdown-text:hover::placeholder,
.feedback-form__input:focus::placeholder,
.feedback-form__select:focus::placeholder,
.feedback-form__textarea:focus::placeholder,
.feedback-form__dropdown-text:focus::placeholder {
  color: #333;
}
.feedback-form__input:focus::-moz-placeholder,
.feedback-form__select:focus::-moz-placeholder,
.feedback-form__textarea:focus::-moz-placeholder,
.feedback-form__dropdown-text:focus::-moz-placeholder {
  color: transparent;
}
.feedback-form__input:focus::-webkit-input-placeholder,
.feedback-form__select:focus::-webkit-input-placeholder,
.feedback-form__textarea:focus::-webkit-input-placeholder,
.feedback-form__dropdown-text:focus::-webkit-input-placeholder {
  color: transparent;
}
.feedback-form__input:focus:-ms-input-placeholder,
.feedback-form__select:focus:-ms-input-placeholder,
.feedback-form__textarea:focus:-ms-input-placeholder,
.feedback-form__dropdown-text:focus:-ms-input-placeholder {
  color: transparent;
}
.feedback-form__input:focus::-ms-input-placeholder,
.feedback-form__select:focus::-ms-input-placeholder,
.feedback-form__textarea:focus::-ms-input-placeholder,
.feedback-form__dropdown-text:focus::-ms-input-placeholder {
  color: transparent;
}
.feedback-form__input:focus::placeholder,
.feedback-form__select:focus::placeholder,
.feedback-form__textarea:focus::placeholder,
.feedback-form__dropdown-text:focus::placeholder {
  color: transparent;
}
.feedback-form__textarea {
  resize: none;
  height: 150px;
}
.feedback-form__submit {
  cursor: pointer;
  border: 0;
  background-color: #f2264d;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 220px;
  padding: 13px;
  text-align: center;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.feedback-form__submit:hover {
  background-color: #e71e44;
  box-shadow: 0 5px 10px rgba(242,38,77,0.25);
}
.feedback-form__submit:active {
  background-color: #d7153c;
  box-shadow: none;
}
.feedback-form__dropdown {
  position: relative;
  flex-grow: 1;
}
.feedback-form__dropdown:hover .feedback-form__dropdown-text {
  background-color: #fff;
  outline-color: #666;
}
.feedback-form__dropdown:hover .feedback-form__dropdown-text::-moz-placeholder {
  color: #333;
}
.feedback-form__dropdown:hover .feedback-form__dropdown-text::-webkit-input-placeholder {
  color: #333;
}
.feedback-form__dropdown:hover .feedback-form__dropdown-text:-ms-input-placeholder {
  color: #333;
}
.feedback-form__dropdown:hover .feedback-form__dropdown-text::-ms-input-placeholder {
  color: #333;
}
.feedback-form__dropdown:hover .feedback-form__dropdown-text::placeholder {
  color: #333;
}
.feedback-form__dropdown:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48px;
  display: block;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  background: url("../img/select-arrow.svg") no-repeat center center;
}
.feedback-form__dropdown-list {
  display: none;
  position: absolute;
  margin-top: 11px;
  width: 100%;
}
.feedback-form__dropdown-text {
  color: #666;
  padding-right: 45px;
  pointer-events: none;
}
.feedback-form__dropdown-text:hover,
.feedback-form__dropdown-text:focus {
  color: #333;
}
.feedback-form__input[type='checkbox']:checked + .feedback-form__dropdown:before {
  transform: rotateX(180deg);
}
.feedback-form__input[type='checkbox']:checked + .feedback-form__dropdown .feedback-form__dropdown-list {
  display: block;
}
.feedback-form__input[type='checkbox']:checked + .feedback-form__dropdown .feedback-form__dropdown-text {
  outline-color: #f2264d;
  background-color: #fff;
}
.feedback-form__select-group {
  display: flex;
}
.tooltip-field {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
.tooltip-field.is-error {
  color: #f2264d;
}
.dropdown-list {
  outline: 1px solid #c9c8cc;
  outline-offset: 0;
  background-color: #fff;
}
.dropdown-list__item {
  border: 0;
  padding: 12px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  border-top: 1px solid #c9c8cc;
  transition: all 0.2s ease-in-out;
}
.dropdown-list__item:first-child {
  border: 0;
}
.dropdown-list__item:hover {
  background-color: #f6f6f6;
  border-color: transparent;
}
.dropdown-list__item:hover + .dropdown-list__item {
  border-color: transparent;
}
.company-news {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  overflow-x: hidden;
  position: relative;
}
.company-news:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -33px;
  height: 390px;
  pointer-events: none;
  background-color: #fafafa;
  z-index: 0;
}
.company-news__inner {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 120px;
  border-top: 1px solid #e4e4e4;
  position: relative;
  z-index: 1;
}
.company-news__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}
.company-news__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 66px;
  color: #333;
}
.company-news__link-all {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #666;
  text-decoration: none;
  padding-right: 30px;
  transition: all 0.3s ease-in-out;
}
.company-news__link-all:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  -webkit-mask-image: url("../img/arrow-news-link-all.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: right center;
  -webkit-mask-size: 20px 14px;
  background-color: #666;
  transition: all 0.3s ease-in-out;
}
.company-news__link-all:hover {
  color: #f2264d;
}
.company-news__link-all:hover:after {
  background-color: #f2264d;
  -webkit-mask-position: right 5px center;
}
.company-news__link-all:active {
  color: #d7153c;
}
.company-news__link-all:active:after {
  background-color: #d7153c;
}
.company-news__list {
  display: flex;
  justify-content: space-between;
}
.company-news__item {
  max-width: 30%;
  width: 100%;
  margin: 0 10px;
  flex-grow: 1;
}
.company-news__item:first-child {
  margin-left: 0;
}
.company-news__item:last-child {
  margin-right: 0;
}
.news-item__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(247,35,75,0.5);
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
.news-item:hover .news-item__overlay {
  z-index: 1;
  opacity: 1;
}
.news-item:active .news-item__overlay {
  background-color: rgba(242,38,77,0.7);
}
.news-item__image {
  position: relative;
  line-height: 0;
  box-shadow: 0 10px 20px transparent;
  transition: box-shadow 0.2s ease-in-out;
}
.news-item:hover .news-item__image {
  box-shadow: 0 10px 20px rgba(3,5,18,0.15);
}
.news-item:active .news-item__image {
  box-shadow: 0 10px 20px transparent;
}
.news-item__image img {
  width: 100%;
}
.news-item__title {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  margin-top: 20px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.news-item:hover .news-item__title {
  color: #f2264d;
}
.news-item:active .news-item__title {
  color: #d7153c;
}
.news-item__announce {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-top: 10px;
}
.news-item__date {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ababab;
  margin-top: 20px;
}
.coming-birthdays {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  overflow: hidden;
  position: relative;
}
.coming-birthdays:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-image: url("../img/dotted-image-form.svg");
  background-position: center;
  background-size: 100px;
  pointer-events: none;
  z-index: 2;
}
.coming-birthdays__inner {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #e4e4e4;
  position: relative;
  z-index: 1;
}
.coming-birthdays__header {
  margin-bottom: 35px;
}
.coming-birthdays__header-text {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #333;
}
.coming-birthdays__header-icon {
  display: inline-block;
  margin-left: 5px;
}
.coming-birthdays__header-desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666;
}
.list-employee {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .list-employee {
    justify-content: space-around;
  }
}
.list-employee_negative-margin {
  margin: 0 -10px;
}
.list-employee__card {
  margin: 0 10px 20px;
}
.footer-container {
  border-top: 1px solid #efefef;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-container__inner {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ababab;
}
.partners-logo__link {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
.partners-logo__link_image {
  display: inline-block;
  width: auto;
  height: 26px;
  filter: contrast(0);
  transition: filter 0.2s ease-in-out;
}
.partners-logo__link_image:first-child {
  margin-left: 0;
}
.partners-logo__link:hover .partners-logo__link_image {
  filter: contrast(1);
}
.partners-logo__link:active .partners-logo__link_image {
  filter: contrast(1);
}
