@import 'https://fonts.googleapis.com/css?family=Roboto:500,700|Source+Sans+Pro&display=swap'
ffRoboto = 'Roboto', sans-serif
ffSourceSansPro = 'Source Sans Pro', sans-serif
maxWidth = 1180px

placeholderColor(color)
  &::-moz-placeholder { color: color; }
  &::-webkit-input-placeholder { color: color; }
  &:-ms-input-placeholder { color: color; }
  &::-ms-input-placeholder { color: color; }
  &::placeholder { color: color; }

dottedBlock()
  background-image url('../img/dotted-image-form.svg')
  background-position center
  background-size 100px
  pointer-events none


fontRB()
  font-family ffRoboto
  font-style normal
  font-weight 700

fontRM()
  font-family ffRoboto
  font-style normal
  font-weight 500

fontSSP()
  font-family ffSourceSansPro
  font-style normal
  font-weight normal

*
  box-sizing border-box

html
body
.main-container
  width 100%
  min-height 100vh
  min-width 1000px
  background-color #ffffff

ul
  list-style-type none
  margin 0
  padding 0

.header-container
  border-bottom 1px solid #EFEFEF
  padding-left 20px
  padding-right 20px
  overflow hidden
  &__inner
    max-width maxWidth
    margin 0 auto
    display flex
    align-items center
  &_size_m
    padding-top 35px
    padding-bottom 35px

.logo
  font-size 0
  line-height 0
  img
    width 100%
  @media (max-width 1200px)
    max-width 120px


.menu
  &_top
    margin-left 80px
    @media (max-width 1200px)
      margin-left 40px
  ul
    list-style-type none
    display flex
    li
      display inline-block
      margin-right 25px
      @media (max-width 1200px)
        margin-right 15px
      &:last-child
        margin-right 0
      a
        fontSSP()
        position relative
        font-size 14px
        line-height 18px
        color #333
        text-decoration none
        transition color .3s ease-in-out
        &:after
          content ''
          position absolute
          background-color #F2264D
          height 5px
          left 50%
          right 50%
          opacity 0
          bottom -44px
          transition all .3s ease-in-out
        &:hover
          color #F2264D
        &:active
          color #F2264D
          &:after
            left 0
            right 0
            opacity 1

.profile
  &__image
    order 1
    border-radius 50%
    overflow hidden
    width 36px
    height 36px
    box-shadow 0 2px 10px rgba(6, 1, 16, 0.15)
  &__name
    order 2
    fontSSP()
    font-size 14px
    line-height 18px
    color #333
    text-decoration none
    margin-left 10px
    transition color .2s ease-in-out
    &:hover
      color #F2264D
    &:active
      color #D7153C
  &__exit
    order 4
    display flex
    align-items center
    justify-content center
    width 30px
    height 30px
    border-radius 50%
    cursor pointer
    transition background-color .2s ease-in-out
    svg
      transform translateX(-1px)
    &:hover
      background-color #EEEEEE
    &:active
      background-color #F2264D
    &_path
      transition fill .2s ease-in-out
      ^[-1]:hover &
        fill #F2264D
      ^[-1]:active &
        fill #fff
  &_header
    &_right
      margin-left auto
      margin-right 0
  &__inner
    display flex
    align-items center
    &_header
      &:after
        content ''
        order 3
        width 1px
        height 30px
        margin 0 15px
        background-color #E4E4E4
    &_card
      position relative
      overflow hidden
      align-items flex-start
      width 280px
      text-decoration none
      //height 320px
      flex-direction column
      padding 30px
      outline 1px solid #E4E4E4
      box-shadow 0 10px 25px transparent
      transition outline-color .2s ease-in-out, box-shadow .2s ease-in-out
      & .profile__arrow
        display inline-block
        position absolute
        top 30px
        right -23px
        width 23px
        height 16px
        opacity 0
        background url('../img/profile-arrow.svg') no-repeat center center
        background-size contain
        transform rotateY(180deg)
        will-change transform
        transition right .3s ease-in-out, transform .3s ease-in-out .2s, opacity .3s ease-in
      > *
        order 0
      ~/:hover &
        outline-width 2px
        outline-color #F2264D
        box-shadow 0 10px 25px rgba(5, 2, 13, 0.1)
      ~/:active &
        box-shadow none
      ~/:hover & .profile__arrow
        right 30px
        transform rotateY(0deg)
        opacity 1
      & .profile__image
        width 80px
        height 80px
        img
          width: 108px
        &_profile2
          img
            width 158px
            margin-left: -78px;
        &_profile3
          img
            width 90px
            margin-left: -5px;
            margin-top: -8px;
      & .profile__name
        fontRM()
        margin 20px 0 0
        font-size 16px
        line-height 22px
        color #333
        width 190px
      & .profile__position
        fontSSP()
        font-size 14px
        line-height 20px
        color #ABABAB
        margin-top 5px
      & .profile_department
        fontSSP()
        font-size 14px
        line-height 20px
        color #666666
        margin-top: 15px
      & .profile__birthday
        fontRM()
        font-size 14px
        line-height 20px
        color #333
        margin-top 20px

.banner
  font-size 0
  line-height 0
  padding-left 20px
  padding-right 20px
  overflow hidden
  &__inner
    max-width maxWidth
    margin 0 auto
    display flex
    justify-content flex-end
    position relative
    &:before
      content ''
      position absolute
      bottom 0
      left 0
      height 100px
      width 100px
      z-index 0
      dottedBlock()
    &:after
      content ''
      position absolute
      bottom 0
      right -100px
      height 300px
      width 100px
      dottedBlock()
  &__content
    position absolute
    top 0
    left 0
    bottom 0
    width 530px
    padding-top 78px
    z-index 2
    &:before
      content ''
      position absolute
      width 120px
      height 1px
      background-color #F2264D
      left -170px
      top 116px

  &__title
    fontRB()
    font-size 58px
    line-height 62px
    color #333333
  &__desc
    lineHeight = 22px
    fontSSP()
    font-size 16px
    line-height lineHeight
    color #666666
    overflow hidden
    max-height (lineHeight * 3)
    margin-top 15px
  &__image
    padding-left 100px
    background-color #FAFAFA
    position relative
    &:after
      content ''
      position absolute
      bottom 0
      left -183px
      height 100px
      width 200px
      dottedBlock()
      z-index 0

    &_right
      margin-right 0
      margin-left auto
    &:before
      content ''
      position absolute
      width 100px
      height: 100px
      bottom 0
      left 0
      background-color #F2264D
      pointer-events none
      z-index 1

.feedback-block
  background-color #F2264D
  position relative
  overflow hidden
  padding-right 20px
  padding-left 20px
  &:before
    content ''
    position absolute
    top 0
    bottom 0
    right 0
    left 50%
    background-color #FAFAFA
    z-index 0

  &__inner
    max-width maxWidth
    margin 0 auto
    display flex
    position relative
    z-index 2
    &:after
      content ''
      position absolute
      bottom 0
      right -300px
      width 300px
      height 100px
      dottedBlock()
      z-index 3
  &__description
    padding-top 50px
    padding-right 69px
    padding-bottom 80px
    width 380px
    position relative
    overflow hidden
    &:before
      content '?'
      position absolute
      fontRB()
      font-size 400px
      line-height 290px
      color #E22C47
      bottom 0
      right: -75px
  &__description-title
    fontRB()
    font-size 30px
    line-height 66px
    color #fff
  &__description-content
    fontSSP()
    font-size 16px
    line-height 20px
    color #fff
  &__form
    background-color #FAFAFA
    padding-top 55px
    padding-left 69px
    padding-bottom 80px
    flex-grow 1


.feedback-form
  &__row
    display flex
    margin-top 28px
    &:first-child
      margin-top 0
    &_col-3
      justify-content space-between
      @media (max-width 1240px)
        flex-wrap wrap
      > .feedback-form__input-group
        width 33%
        margin-right 20px
        @media (max-width 1240px)
          &:nth-child(2)
            margin-right 0
        &:last-child
          margin-right 0
    &_submit
      margin-top 40px
  &__input-group
    display flex
    flex-direction column
    flex-grow 1
    .tooltip-field
      padding-left 20px
      margin-top 5px
    &.is-active
      .feedback-form__input
      .feedback-form__select
      .feedback-form__textarea
      .feedback-form__dropdown-text
        background-color #ffffff
        outline-color #666666
        color #333333
    &.is-error
      .tooltip-field
        display block
      .feedback-form__input
      .feedback-form__select
      .feedback-form__textarea
      .feedback-form__dropdown-text
        color #F2264D
        outline-color #F2264D !important
        background-color #ffffff
        placeholderColor(#F2264D)
  &__label
    fontSSP()
    font-size 14px
    line-height 20px
    color #666666
    padding-left 20px
    margin-bottom 10px
  &__input,
  &__select,
  &__textarea,
  &__dropdown-text
    display block
    width 100%
    border 0
    padding 12px 20px
    outline 1px solid #C9C8CC
    outline-offset 0
    fontSSP()
    font-size 14px
    line-height 20px
    color #333333
    placeholderColor(#666666)
    background-color transparent
    transition all .2s ease-in-out
    &:valid
      background-color #ffffff
      outline-color #666666

    &_hidden
      display none
    &:hover,
    &:focus
      background-color #ffffff
      outline-color #666666
      placeholderColor(#333)
    &:focus
      placeholderColor(transparent)
  &__textarea
    resize none
    height 150px
  &__submit
    cursor pointer
    border 0
    background-color #F2264D
    color #ffffff
    fontSSP()
    font-size 14px
    line-height 20px
    width 220px
    padding 13px
    text-align: center
    outline none
    transition all .2s ease-in-out
    &:hover
      background-color #E71E44
      box-shadow 0 5px 10px rgba(242, 38, 77, 0.25)
    &:active
      background-color #D7153C
      box-shadow none
  &__dropdown
    position relative
    flex-grow 1
    &:hover ^[0]__dropdown-text
        background-color #ffffff
        outline-color #666666
        placeholderColor(#333)
    &:before
      content ''
      position absolute
      top 0
      bottom 0
      right 0
      width 48px
      display block
      pointer-events none
      transition transform .2s ease-in-out
      background url('../img/select-arrow.svg') no-repeat center center

  &__dropdown-list
    display none
    position absolute
    margin-top 11px
    width 100%

  &__dropdown-text
    color #666666
    padding-right: 45px
    pointer-events none
    &:hover,
    &:focus
      color #333333
  &__input[type='checkbox']:checked + &__dropdown:before
    transform rotateX(180deg)
  &__input[type='checkbox']:checked + &__dropdown &__dropdown-list
    display block
  &__input[type='checkbox']:checked + &__dropdown &__dropdown-text
    outline-color #F2264D
    background-color #ffffff
  &__select-group
    display flex

.tooltip-field
  display none
  fontSSP()
  font-size 14px
  line-height 20px
  color #333333
  &.is-error
    color #F2264D

.dropdown-list
  outline 1px solid #C9C8CC
  outline-offset 0
  background-color #ffffff
  &__item
    border 0
    padding 12px 20px
    fontSSP()
    font-size 14px
    line-height 20px
    color #333333
    border-top: 1px solid #C9C8CC
    transition all .2s ease-in-out
    &:first-child
      border 0
    &:hover
      background-color #F6F6F6
      border-color transparent
  &__item:hover + &__item
    border-color transparent

.company-news
  padding-left 20px
  padding-right 20px
  padding-top 50px
  overflow-x hidden
  position relative
  &:before
    content ''
    position absolute
    left 0
    right 0
    top -33px
    height 390px
    pointer-events none
    background-color #fafafa
    z-index 0
  &__inner
    max-width maxWidth
    margin 0 auto
    padding-top 50px
    padding-bottom 120px
    border-top 1px solid #E4E4E4
    position relative
    z-index 1
  &__header
    display flex
    justify-content space-between
    align-items flex-end
    padding-bottom 20px
  &__title
    fontRB()
    font-size 30px
    line-height 66px
    color #333333
  &__link-all
    position: relative;
    fontSSP()
    font-size 16px
    line-height 30px
    color #666666
    text-decoration none
    padding-right 30px
    transition all .3s ease-in-out
    &:after
      content ''
      position absolute
      right 0
      top 0
      bottom: 0
      width 30px
      -webkit-mask-image url('../img/arrow-news-link-all.svg')
      -webkit-mask-repeat no-repeat
      -webkit-mask-position right center
      -webkit-mask-size 20px 14px
      background-color #666666
      transition all .3s ease-in-out
    &:hover
      color #F2264D
      &:after
        background-color #F2264D
        -webkit-mask-position right 5px center
    &:active
      color #D7153C
      &:after
        background-color #D7153C
  &__list
    display flex
    justify-content space-between
  &__item
    max-width 30%
    width 100%
    margin 0 10px
    flex-grow 1
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

.news-item
  &__overlay
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(247, 35, 75, 0.5)
    opacity 0
    z-index -1
    transition all .2s ease-in-out
    ^[-1]:hover &
      z-index 1
      opacity 1
    ^[-1]:active &
      background-color rgba(242, 38, 77, 0.7)
  &__image
    position relative
    line-height 0
    box-shadow 0 10px 20px transparent
    transition box-shadow .2s ease-in-out
    ^[-1]:hover &
      box-shadow 0 10px 20px rgba(3, 5, 18, 0.15)
    ^[-1]:active &
      box-shadow 0 10px 20px transparent
    img
      width 100%
  &__title
    display inline-block
    fontRM()
    font-size 20px
    line-height 30px
    color #333
    margin-top 20px
    text-decoration: none
    transition color .2s ease-in-out
    ^[-1]:hover &
      color #F2264D
    ^[-1]:active &
      color #D7153C
  &__announce
    fontSSP()
    font-size 14px
    line-height 20px
    color #666
    margin-top: 10px
  &__date
    fontSSP()
    font-size 14px
    line-height 18px
    color #ABABAB
    margin-top: 20px

.coming-birthdays
  padding-left 20px
  padding-right 20px
  padding-top 50px
  overflow hidden
  position relative
  &:before
    content: ''
    position absolute
    top 0
    left 0
    width 100px
    height 100px
    dottedBlock()
    z-index 2
  &__inner
    max-width maxWidth
    margin 0 auto
    padding-top 60px
    padding-bottom: 60px
    border-top 1px solid #E4E4E4
    position relative
    z-index 1
  &__header
    margin-bottom 35px
  &__header-text
    display flex
    align-items center
    fontRB()
    font-size 30px
    line-height 40px
    color #333
  &__header-icon
    display inline-block
    margin-left 5px
  &__header-desc
    fontSSP()
    font-size 16px
    line-height 22px
    color #666666

.list-employee
  display flex
  flex-wrap wrap
  @media (max-width 1200px)
    justify-content space-around
  &_negative-margin
    margin 0 -10px
  &__card
    margin 0 10px 20px


.footer-container
  border-top 1px solid #EFEFEF
  padding-left 20px
  padding-right 20px
  &__inner
    max-width maxWidth
    margin 0 auto
    padding-top 35px
    padding-bottom 35px
    display flex
    align-items center
    justify-content space-between

.copyright
  fontSSP()
  font-size 14px
  line-height 20px
  color #ABABAB
.partners-logo
  &__link
    text-decoration none
    display inline-block
    vertical-align top
    margin-left 50px
    &_image
      display inline-block
      width auto
      height 26px
      filter contrast(0)
      transition filter .2s ease-in-out
      &:first-child
        margin-left 0
      ^[1]:hover &
        filter contrast(1)
      ^[1]:active &
        filter contrast(1)
